## DATA TYPE AND STRUCTURE

1.What are data structures, and why are they important?
 - Data structure are organise way of storing and managing data to enable efficient access,modification data in a way that matches the requirement of specific algorithm , helping to optimise performance in term of time and space.
 - common type of data- Array, Linklist, Stack, Queues,Graph.
 -Importance of Data Structure:
  1.Efficiency, 2.Reusablity, 3.Maintainability, 4.Scalability, 5.performance optimisation.


2.Explain the difference between mutable and immutable data types with examples?
 - In programming, data type can be classified as mutable and immutable based  
   on whether their value can be change or not after they are created.
 - MUTABLE DATA TYPE:
   these are data type whose value can be modified after they are created.
   Example:-list, dict, set.
   eg-
  -  my_list = [1,2,3]
  -  my_list[0] = 100
  -  print(my_list)
  -  output= [100,2,3]
 - IMMUTABLE DATA TYPE:-
   These are data type whose value cannot be change once they are created. Any modification result in the creation  of new object.
   - Example:- 1.int, 2.float, 3.tuple, 4.str.
   - my_str = "hello"
   - my_str[0] = "h"
   - output= TypeError.

3. What are the main differences between lists and tuples in Python?
 - list is mutable and tuple is immutable also represent in [ ],( ) repectivily.


4.Describe how dictionaries store data?
 - In Python,a dictionary stores data as key-value pair using hash table.


5. Why might you use a set instead of a list in Python?
 - Set is auotomatically eliminate duplicate elements.
   if you need to store the only unique value ,a set is better choice.
   there are multiple reason for set instead of a list like - Uniqueness, fasterlookup, Set operation, UnOrdered collection.  
  
6. What is a string in Python, and how is it different from a list?
 - string is collection of sequence of character, immutable and syntax is
   "  ".where as list is sequence of items have any data type,mutable and syntax is [ ].In a list dynamic modification is allow where as in string dynamic modification is not allow.

7. How do tuples ensure data integrity in Python?
 - Tuple provide data intigrity by being immutable, ensuring consistent and
   secure storage of fix collections of value.





8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in an associative manner. It uses a hash function to compute an index (a hash code) into an array of buckets or slots, from which the desired value can be found.

   Here's a breakdown:

 Key: The unique identifier used to store and retrieve data.
 Hash Function: A function that takes a key as input and returns a hash code (an integer) that represents the index where the value will be stored in the hash table.
Buckets/Slots: The storage locations within the hash table where the values are stored. Each bucket can hold one or more key-value pairs.
Collision Handling: When two different keys produce the same hash code, a collision occurs. Hash tables use collision handling mechanisms (e.g., chaining or open addressing) to resolve collisions and store the colliding values.
How Hash Tables Relate to Dictionaries in Python

Dictionaries in Python are implemented using hash tables. When you create a dictionary in Python, it internally creates a hash table to store the key-value pairs.



9.Can lists contain different data types in Python?
 - YES, in python ,a list contain different data types. This is because lists  
   are heterogeneous collection.  

10.Explain why strings are immutable in Python?
 - String is immutable due to several reasons :-
   - Performance and memory optimisation.
   - Security and Intigrity.
   - Hashing and Dictionary Keys.
   - Simplicity and Predictibility.


11. What advantages do dictionaries offer over lists for certain task?
  -  Dictionary offer several  advantage over list for certain task in python:-
     - Fast lookup.
     - Key-value pair.
     - Improved Readibility and Miantainability.
     - No need for index management.
     - Dynamic and Flexible.
     - Uniqeness of Keys.
     - Real world mappings.

12. Describe a scenario where using a tuple would be preferable over a list?
   - Use tuple when you want ordered, immutable, and fixed size collection of
     elements, ensuring data intigrity and optimizing performance.

13. How do sets handle duplicate values in Python?
  -  In python , sets automatically ignore duplicate values, when you add
     duplicate value to a set ,only one occurence of each value stored. This is    because sets are unordered collection of unique elements.


14. How does the “in” keyword work differently for lists and dictionaries?
  -  In python , the in keyword is used to check for membership , but it behave
     slightly different for list and dictionary.
     - LIST  :- when used with a list ,in checks if specific value is present  
       anywhere in the list.
     - Example:-
     - my_list = [1,2,3,4]
     - print(2 in my_list)# True
     - print(20 in my_list)# False
     - DICTIONARY :-for dictionaries, in checks only the keys,not the value.
     -Example:-
     -my_dict = {'a':1,'b':2,'c':3}
     -print('a' in my_dict)# True
     -print(1 in my_dict)# False.


15. Can you modify the elements of a tuple? Explain why or why not?
  - NO, we cant modify  an element of tuple in python because tuple are
   immutable . This means no change after  tuple creation.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in python is Dictionary inside another Dictionary. This
   allow you to organise complex data in a hierarchical structure, similiar to JNSON object.
   - Example:-
   - students = {"student1":{"name":"deepak","age":20,"grades":{"maths":50,
      "english":39}},"student2":{"name":abhishek","age":21,"grades":{"maths":55,
      "english":40}}}










17. Describe the time complexity of accessing elements in a dictionary?
  - In python , the time complexity of accessingin dictionary is generally:-
  -Average case:-O(1) constant time,Due to hash tables.
  -Worst case:-O(n) linear time, Due to hash collision.



18.  In what situations are lists preferred over dictionaries?
  -  List are preferred over dictionaries in python in following situations:-
       - 1.Ordered data with Index Access.
       - 2.Sequential operation.
       - 3.When only value matter.
       - 4.Faster append and access by Index.
       - 5.Memory Efficiency.

19. Why are dictionaries considered unordered, and how does that affect data
     retrieval?
   - Dictionaries in Python are inherently unordered because they rely on a data structure called a hash table for storing and retrieving elements. Hash tables are designed for fast access to elements based on their keys, not their order of insertion.

When you add a key-value pair to a dictionary, the key is passed through a hash function to determine its position (or bucket) in the hash table. This position is not related to the order in which keys were added.

How Unordered Nature Affects Data Retrieval
 - No Guaranteed Order: You cannot assume that the elements in a dictionary will be stored or retrieved in the same order you added them. The order might change due to how the hash table is implemented and how keys are hashed.

 - Retrieval by Key, Not Index: Unlike lists where you access elements by their index, dictionaries use keys for retrieval. You provide the key, and the dictionary uses the hash function to quickly find the corresponding value. This is very efficient because it doesn't require searching through the entire dictionary.

 - Iterating in Arbitrary Order: If you iterate through a dictionary using a for loop, the order in which the key-value pairs are accessed is not predictable and might change between runs. If you need a specific order, you need to sort the keys or values separately.  



 20. Explain the difference between a list and a dictionary in terms of data retrieval?
  - In python ,list and dictionaries are both used to store collection of data,
     but they handle data retrieval very differently:
       -1. LISTS:Retrieval by index:-
       - Example:-
       - my_list = [1,2,3,4,5]
       - print(my_list[2]) #3(access by index)
       -2. DICTIONARIES: Retrieval by Key:-
       - Example:-
       - my_dict = {"a":1,"b":2,"c":3}
       - print(my_dict["b"]) # 2(access by key).

In [1]:
#1. Write a code to create a string with your name and print it?
name = "Deepak"
print(name)

Deepak

In [2]:
#2.Write a code to find the length of the string " Hello World ".
string = "Hello World"
print(len(string))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [5]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple","orange")
print(new_string)

I like orange

In [6]:
#6.  Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a','b','c','d']
print(list[1])

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10,20,30,40,50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [11]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red','green','blue','yellow')
print(my_tuple[-2])

blue

In [13]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10,20,5,15)
print(min(my_tuple))

5

In [14]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [15]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple','banana','orange')
print('kiwi' in my_tuple)

False

In [16]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [17]:
#17. . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [18]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [21]:
#20. . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [22]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"deepak","age":20,"city":"delhi"}
print(my_dict)

{'name': 'deepak', 'age': 20, 'city': 'delhi'}

In [23]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name':'John','age':25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#23. . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name':'Alice','age':30}
print(my_dict['name'])

Alice

In [27]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name':'Bob','age':22,'city':'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary")
else:
    print("The key 'city' does not exist in the dictionary")

The key 'city' exists in the dictionary

In [31]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_dict = {'name':'deepak','age':20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'deepak', 'age': 20}

In [33]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order .
import random
random_list = [random.randint(1,100) for _ in range(5)]
random_list.sort()
print(random_list)

[1, 14, 21, 30, 32]

In [34]:
#28.  Write a code to create a list with strings and print the element at the third index.
my_list = ['apple','banana','orange','grapes','kiwi']
print(my_list[2])

orange

In [35]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
#30.  Write a code to convert a list of strings into a set.
my_list = ['apple','banana','orange','grapes','kiwi']
my_set = set(my_list)
print(my_set)

{'grapes', 'banana', 'orange', 'apple', 'kiwi'}